.viewPO {
  width: 100%;
}

.viewPO h1 {
  margin-left: 20px;
  font-size: 55px;
  border-bottom: 2px solid black;
}

.purchase-form-container {
  display: flex;
  width: 80vw;
  justify-content: center;
}

.inputField {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 15px;
  padding: 15px 10px;
  border-left: 2px solid black;
  overflow: hidden;
}

.inputField p {
  margin-right: 20px;
}

.inputField input {
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
}

.inputField input:focus {
  outline: none;
}

#date-container {
  display: flex;
}

#input4 {
  border-right: 2px solid black;
}

.ordersDatabase {
  margin-left: 50px;
  padding: 0;
  margin-top: 50px;
  padding-top: 2px;
  background-color: #f5f6f6;
  border-top: 2px dashed rgba(0, 0, 0, 0.185);
  padding-bottom: 30px;
}

.ordersDatabase a {
  padding-left: 10px;
}
