.header {
  position: relative;
  background-color: #8d50b6;
  padding: 1px;
  color: white;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  padding-left: 20px;
}

.nav-container {
  padding-top: 20px;
  background-color: #9800ff;
  width: 20%;
  height: 90vh;
}

#pointless-purple {
  background-color: #9800ff;
  position: absolute;
  width: 15%;
  height: 100%;
}

.nav-item {
  cursor: pointer;
  height: 10%;
  text-align: right;
}

.nav-item h2 {
  margin: 0;
  color: white;
  font-size: 30px;
  position: relative;
  top: 20%;
}
